In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 10.1 MB/s eta 0:00:0000:0100:01
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.8/346.8 kB 4.2 MB/s eta 0:00:00ta 0:00:01
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.2.3 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
# Import pandas as pd
import pandas as pd

# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]



# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = { 'country':names, 'drives_right': dr, 'cars_per_cap':cpc

}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [ ]:
#Se quiser acessar os paises de forma limpa, use [[ ]].
cars[["country"]]

         country
0  United States
1      Australia
2          Japan
3          India
4         Russia
5        Morocco
6          Egypt

In [ ]:
#Ou até mesmo duas colunas, ou quantas queira.
cars[["country", "drives_right"]]

         country  drives_right
0  United States          True
1      Australia         False
2          Japan         False
3          India         False
4         Russia          True
5        Morocco          True
6          Egypt          True

In [8]:
cars[1:3]

     country  drives_right  cars_per_cap
1  Australia         False           731
2      Japan         False           588

## loc e iloc functions

In [ ]:
#loc é uma técnica usada para seleconar partes do seu dataset baseado em labels
#iloc é baseada na posição

#Observe que eu acesso o dado pela label
cars.loc[2]

country         Japan
drives_right    False
cars_per_cap      588
Name: 2, dtype: object

In [13]:
#Mas também posso consultar de forma mais detalhada / formatada
cars.loc[[2]]

  country  drives_right  cars_per_cap
2   Japan         False           588

In [14]:
cars.loc[[2,3,4]]

  country  drives_right  cars_per_cap
2   Japan         False           588
3   India         False            18
4  Russia          True           200

### Criando um DataFrame

In [15]:
dict = {'country':['Brazil', 'Russia', 'India', 'China', 'SouthAfrica'],
        'capital':['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
        'area':[8.516, 17.10, 3.286, 9.597, 1.221],
        'population':[200.4, 143.5, 1253, 1357, 52.98]}

In [16]:
import pandas as pd
brics = pd.DataFrame(dict)

In [17]:
brics

       country    capital    area  population
0       Brazil   Brasilia   8.516      200.40
1       Russia     Moscow  17.100      143.50
2        India  New Delhi   3.286     1253.00
3        China    Beijing   9.597     1357.00
4  SouthAfrica   Pretoria   1.221       52.98

In [18]:
#Setando uma lista para o index
brics.index = ['BR', 'RU', 'IN', 'CH', 'SA']

In [19]:
brics

        country    capital    area  population
BR       Brazil   Brasilia   8.516      200.40
RU       Russia     Moscow  17.100      143.50
IN        India  New Delhi   3.286     1253.00
CH        China    Beijing   9.597     1357.00
SA  SouthAfrica   Pretoria   1.221       52.98

In [20]:
# brics = pd.read_csf("path/to/brics.csv", index_col=0)

In [21]:
brics.loc[['RU','IN'], ['country', 'population']]

   country  population
RU  Russia       143.5
IN   India      1253.0

In [23]:
#usando iloc
brics.iloc[[1, 2, 3]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1253.0
CH   China    Beijing   9.597      1357.0

In [24]:
brics.iloc[[1, 2, 3], [1,2]]

      capital    area
RU     Moscow  17.100
IN  New Delhi   3.286
CH    Beijing   9.597

### Filtrando DataFrames

In [25]:
brics

        country    capital    area  population
BR       Brazil   Brasilia   8.516      200.40
RU       Russia     Moscow  17.100      143.50
IN        India  New Delhi   3.286     1253.00
CH        China    Beijing   9.597     1357.00
SA  SouthAfrica   Pretoria   1.221       52.98

In [26]:
#selecionar países com area maior que 8 km2
is_rude = brics['area'] > 8
brics[is_rude]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [27]:
import numpy as np
np.logical_and(brics['area'] > 8, brics['area'] < 10)

BR     True
RU    False
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [28]:
brics[np.logical_and(brics['area'] > 8, brics['area'] < 10)]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0

### Loop em estruturas de dados

In [29]:
world = {'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21}

In [ ]:
#Para dicionarios, usa-se o items()
for key, value in world.items():
    print(key + " -- " + str(value))

afghanistan -- 30.55
albania -- 2.77
algeria -- 39.21

In [31]:
#para arrays, usa-se o for val in np.nditer(my_array):

In [32]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for x, y in europe.items():
    print("the capital of " + x + " is " + y)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [33]:
#Em pandas, num dataset, tem-se que ter cuidado com o que você quer interar.
#Vejamos o exemplo do brics

for val in brics:
    print(val)

#dessa forma, apenas o nome das colunas aparecerá.

country
capital
area
population

In [35]:
# O metodo iterrows olha o dataframe e gera uma iteracao com cada linha
for lab, row in brics.iterrows():
    print(lab)
    print(row)

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population       1253.0
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population     1357.0
Name: CH, dtype: object
SA
country       SouthAfrica
capital          Pretoria
area                1.221
population          52.98
Name: SA, dtype: object

In [36]:
for lab, row in brics.iterrows():
    print(lab + ": " + row['capital'])

BR: Brasilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

In [ ]:
for lab, row in brics.iterrows():
    brics.loc[lab, "tamanho_nome"] = len(row['country'])
print(brics)

#para pequenas iterações, esse for funciona, mas já para grande volume de dados
#talvez isso nao seja a melhor opcao

        country    capital    area  population  tamanho_nome
BR       Brazil   Brasilia   8.516      200.40           6.0
RU       Russia     Moscow  17.100      143.50           6.0
IN        India  New Delhi   3.286     1253.00           5.0
CH        China    Beijing   9.597     1357.00           5.0
SA  SouthAfrica   Pretoria   1.221       52.98          11.0

In [39]:
#uma outra alternativa seria aplicar o apply
brics['tamanho_apply'] = brics['country'].apply(len)
print(brics)

        country    capital    area  population  tamanho_nome  tamanho_apply
BR       Brazil   Brasilia   8.516      200.40           6.0              6
RU       Russia     Moscow  17.100      143.50           6.0              6
IN        India  New Delhi   3.286     1253.00           5.0              5
CH        China    Beijing   9.597     1357.00           5.0              5
SA  SouthAfrica   Pretoria   1.221       52.98          11.0             11

In [ ]:
# Code for loop that adds COUNTRY column
for lab, row in brics.iterrows():
    brics.loc[lab,"COUNTRY"] = row["country"].upper()
print(brics)

#O mesmo poderia ser feito com: 
## Use .apply(str.upper)
#cars["COUNTRY"] = cars["country"].apply(str.upper)
#print(cars)

        country    capital    area  population  tamanho_nome  tamanho_apply  \
BR       Brazil   Brasilia   8.516      200.40           6.0              6
RU       Russia     Moscow  17.100      143.50           6.0              6
IN        India  New Delhi   3.286     1253.00           5.0              5
CH        China    Beijing   9.597     1357.00           5.0              5
SA  SouthAfrica   Pretoria   1.221       52.98          11.0             11

        COUNTRY
BR       BRAZIL
RU       RUSSIA
IN        INDIA
CH        CHINA
SA  SOUTHAFRICA